*{
  font-family: "Microsoft Yahei";
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body {
 margin:0;
 color: #B5B0B0;
 display: block;
}
.logo span{
  display: inline-block;
  margin: 12px 0 0 50px;
  font-size: 1.1rem;
}
.logo strong{
      margin: 0px 12px;
      vertical-align: top;
      display: inline-block;
      color: #000;
      font-size: 1.5rem;
      line-height: 30px;
}
.header p,.nav{
  display: inline-block;
}

.nav{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1vw;
}
.nav a{
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}
.nav a:hover{
  padding:  10px 10px;
  border-bottom: 5px solid red;;
}

.img-center{
  position: relative;
  background: url(./图片1.jpg) no-repeat;
  background-size: 100% auto;
  height: 35vw;
  margin-top: 0px;
  color: white;
}
.word1{
  position: absolute;
  left: 13%;
}
.word1 h1{
  font-size: 4.8vw;
  padding-top: 4vw;
}
.word1 h2,p{

}
.word1 h2{
  font-size:1.8vw;
  padding-top: 3vw;
}
.word1 p{
  padding-top: 1vw;
}
.word1 input{
  border: none;
  width: 18vw;
  font-size: 3vw;
  background: #e74f4d;
  color: white;
  transition: all .5s;
  margin-top: 2vw;
}
.tag-one-five{
  color: black;
}
.part02 ul{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.part02 li{
  vertical-align: top;
  text-align: center;
  padding: 2vw;
  margin: 4vw 2vw;
}
.bookimg{
  height: 250px;
  text-align: center;
  background:#ededec;
}
.bookimg img{
  margin-top: 6%;
}
.bookimg p{
  font-size: 30px;
}
.map{
  background: url(./图2.png) no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  padding-bottom: 5%;
}
.map h2{
  padding-top: 2vw;
  font-size: 1.5rem;
}

.map select,
.map a{
  display: inline-block;
  border: 1px solid #e74f4d;
  width: 16vw;
  height: 4vw;
  line-height: 4vw;
  transition: all .5s;
  vertical-align: top;
}
.map a{
  background: #e74f4d;
  color: #fff;
  text-decoration: none;
  line-height: 3vw;
}
.map select:hover,a:hover{
  border: 1px solid #01BEEF;
}
.img{
  background-color: #f7f7f7;
  padding-top: 3%;
  text-align: center;
}
.img h2{
  color: black;
  font-size: 1.5rem;
}
.img p{
  line-height:250%;
  font-size: 0.7rem;
}
.img ul{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.img img{
  border: 10px solid #fff;
  width: 70%;
}
.newlife{
  display: flex;
  height: 41vw;
  display: -webkit-flex;
  display: -ms-flexbox;

}
.new-left{
  background: url(图3.png) no-repeat;
  background-size: 100%;
  color: #fff;
  flex: 2;
}
.new-left .cccc{
  text-align: center;
  line-height: 10vw;
}
.new-left h1{
  font-size: 5vw;
}
.new-left h2{
  font-size: 3vw;
}
.new-right{
  flex: 1;
  text-align: center;
}
.new-right h3{
  color: black;
  padding-top: 2vw;
  text-align: center;
}
.new-right span{
  color: red;
  padding-left: 3vw;
}
.new-right h4{
  padding: 2vw 3vw;
  text-align: left;
}
.new-right a{
  color: red;
  border: 1px solid red;
  padding: .5vw 3vw;
  text-decoration: none;
}
.lworld{
  flex: 1;
}
.cworld{
  flex: 1;
}
.rworld{
  flex: 1;
}
.part111{
  display: flex;
  height: 30vw;
}
.part111 a{
  text-decoration:none;
  border: 1px solid;
  line-height: 30vw;
}
.lworld , .cworld{
  text-align: center;
  padding-top: 5vw;
}
.lworld{
  flex: 1;
  background: #e74f4d;
  color: #fff;
}
.lworld a{
  color: #fff;
  padding: 5px 15px;
}
.cworld{
  flex: 1;
  color: #000;
}
.cworld a{
  color: #e74f4d;
  padding: 5px 15px;
}
.rworld{
  flex: 1;
  background: url(图4.png);
  background-position:center;
}
.top p{
  text-align: center;
}
.callme span{
  display: block;
  color: #000;
  font-size: 2.5vw;
}
.bottom{
  display: flex;
}
.bottom-left{
  flex: 1;
  padding-left: 10%;
  color: #000;
  line-height: 4vw;
}
.bottom-left a{
  color: #000;
  padding-left: 70%;
  border:none;
  transition: all .3s;
}
.bottom-left a:hover{
  background: #e74f4d;
}
.bottom-right{
  flex: 1;
}
.bottom-right li{
  background: #f7f7f7;
  min-width: 274px;
  width: 43%;
  margin: 5px 0;
}
.bottom-right li,textarea{
  background-color: #ededee;
  padding: 10px;
  border: none;
}
.bottom-right input{
  background-color: #ededee;
  border: none;
}
.bottom-right textarea{
  width: 90%;
}
.bottom-right a{
  background: #f7f7f7;
  color: #000;
}
.bottom-sbumit{
  width: 94%;
  height: 3rem;
  margin: 2% 0;
}
.bottom-right a:hover{
  background: #e74f4d;
  transition: all .3s;
  border: none;
}
.footer{
  height: 250px;
  background: #32353e;
  text-align: center;
  color: #fff;
}
.call{
  padding-top: 50px;
  font-weight: bolder;
}
.footer {
  line-height: 30px;
}
.footer img{
  padding-top: 2vw;
  padding-right: 3vw;
}
.email input{
  color: black;
  padding: 10px 180px 10px 10px;

}
.email a{
  margin-left:-5px;
  padding: 14px 25px;
  background:  #888;
  color: #fff;
  border: none;
}
.last{
  position: absolute;
  background-color: #2f3038;
  right: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.last a{
  position: absolute;
  right: 50px;
  bottom: 3px;
  border: none;
  color: #fff;
}
.last p{
  position: absolute;
  left: 50px;
}
